@model Pasquali.Application.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            @using (Html.BeginForm("Index", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Login)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Login)
                        @Html.ValidationMessageFor(model => model.Login, String.Empty, new { @class = "error-message" })
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Senha)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.Senha)
                        @Html.ValidationMessageFor(model => model.Senha, String.Empty, new { @class = "error-message" })
                    </div>
                    <br />
                    <br />
                    <p>
                        <input class="btn btn-lg btn-primary" type="submit" value="Login" />
                    </p>
                    <br />
                    <p>Não é cadastrado? @Html.ActionLink("Registre-se", "SaveUser", "Usuario")</p>
                </fieldset>
            }
        </div>
    </div>
</div>